/** UNDERLINED */

@keyframes pan-background {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 200%;
  }
}

.underlined {
  animation: pan-background 40s infinite linear;
  background-image: url('/images/underline.jpg');
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: auto 4px;
  padding-bottom: 4px;
  will-change: background-position;
}

/** TITLE */

.heading {
  @apply relative;
  @apply font-heading;

  line-height: 1.1;
  width: min-content;
}

/** SECTION TITLE */

.sectionTitle {
  @apply text-2xl;
  @apply mb-2 mx-auto;
}
