---
import { isFuture } from 'date-fns';

import type { SectionProps } from '../lib/types';
import type { Video as VideoDocument } from '../lib/types';

import Video from '../components/video.astro';

export interface Props extends SectionProps {
  videos: VideoDocument[];
}

const { id, videos } = Astro.props as Props;
---

<section class="video-section" id={id}>
  <h2 class="section-heading">Videos</h2>

  <ul>
    {
      videos
        .filter(({ date }) => !isFuture(new Date(date)))
        .map(({ url }) => (
          <li>
            <Video url={url} />
          </li>
        ))
    }
  </ul>
</section>

<style>
  .video-section {
    & ul li {
      @apply mb-4;

      & :global(iframe) {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
      }
    }
  }
</style>
