@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'Worcester Serial';
  src: url('/fonts/softmaker_-_worcesterserial-heavy-webfont.woff2') format('woff2'),
    url('/fonts/softmaker_-_worcesterserial-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  @apply font-body;
}
