.layout {
  --header-size: 4.25rem;
  --transition-duration: 0.2s;

  @screen md {
    --header-size: 6.25rem;
  }
}

.header {
  @apply fixed top-0 w-full;
  @apply bg-white;
  @apply grid items-center;
  @apply transition-all;
  @apply px-4;
  @apply z-10;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--header-size) 1fr;
  height: var(--header-size);
  transition-duration: var(--transition-duration);

  &.menuOpened {
    @apply h-screen;

    @screen md {
      @apply h-auto;
    }
  }

  @screen md {
    @apply px-8;
    @apply h-auto;

    grid-template-columns: min-content 1fr;
  }

  @screen lg {
    grid-template-columns: 1fr max-content 1fr;
  }

  & h1 {
    @apply justify-self-start;
    @apply text-3xl;
    top: -3px;
  }

  & button {
    @apply font-heading;
    @apply justify-self-end;

    &:focus {
      @apply outline-none;
    }

    @screen md {
      @apply hidden;
    }
  }
}

.menu {
  @apply hidden opacity-0;
  @apply transition-opacity;
  @apply max-h-full;
  @apply self-stretch;
  @apply overflow-scroll;
  @apply pb-4;
  @apply text-base lowercase;

  grid-column: 1 / -1;
  grid-template-rows: 1fr min-content;
  transition-duration: var(--transition-duration);

  @screen md {
    @apply block opacity-100;
    @apply p-0;
    @apply col-auto;
    @apply h-auto;
    @apply text-sm;
    @apply justify-self-end self-auto;
  }

  @screen lg {
    @apply text-base justify-self-auto;
  }

  & .mainNav {
    @apply text-center;
    @apply self-center;

    & li {
      @apply m-2;

      &.divider::before {
        @apply text-gray-500;

        content: '/';
      }

      @screen md {
        @apply inline-block;
      }

      & a:not(:hover) {
        @apply bg-none;
      }
    }
  }

  & .socials {
    @apply flex justify-center;
    @apply text-xl;
    @apply mt-8;

    @screen md {
      @apply absolute;
      @apply m-0;
      @apply flex-col;

      left: 3.6rem;
      top: 100%;

      & li:not(:last-child) {
        @apply mb-6;
      }
    }

    & li {
      @apply text-center;
      @apply flex-1;

      max-width: 3rem;
    }
  }
}

.menuOpened .menu {
  @apply grid opacity-100;
}

@screen md {
  .menu,
  .menuOpened .menu {
    @apply block;
  }
}

.main {
  @apply px-4 mx-auto;
  @apply max-w-lg;

  margin-top: var(--header-size);

  @screen md {
    @apply p-0;
  }

  & section {
    @apply text-sm;
    @apply mb-16;

    &::before {
      content: '';
      display: block;
      height: var(--header-size);
      margin-top: calc(var(--header-size) * -1);
    }
  }
}
