.input {
  composes: textinput from 'part:@sanity/base/theme/forms/text-input-style';
}

.selection {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.8125rem;
}

.selection svg {
  font-size: 1.1rem;
  vertical-align: bottom;
}
