---
import { toHTML } from '@portabletext/to-html';

export interface Props {
  blocks: any[];
}

const { blocks } = Astro.props as Props;
const html = toHTML(blocks, {
  components: {
    marks: {
      link({ children, value }) {
        return /* html */ `<a href="${value.url}" rel="noreferrer" target="_blank">${children}</a>`;
      },
    },
  },
});
---

<div class="block-content" set:html={html} />

<style is:global>
  .block-content {
    @apply flex flex-col gap-2;

    word-wrap: anywhere;

    & a {
      @apply underline;
    }
  }
</style>
